@import 'tailwindcss';
@import 'tw-animate-css';

:root {
	/* Shadcn variables */
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);

	/* Colors */
	--background-dark: oklch(0.96 0 0);
	--background-darker: oklch(0.92 0 0);
	--foreground-dark: oklch(0.85 0 0);
	--foreground-light: oklch(0.205 0 0);
	--muted-green: oklch(0.7387 0.1074 141.16);
	--green: oklch(0.8387 0.1074 141.16);
	--light-green: oklch(0.9387 0.1074 141.16);
	--muted-blue: oklch(0.7228 0.0795 213.23);
	--blue: oklch(0.8228 0.0795 213.23);
	--light-blue: oklch(0.9228 0.0795 213.23);
	--light-red: oklch(0.667 0.18 23.3);
	--dark-gray: oklch(0.25 0 0);
	--gray: oklch(0.35 0 0);

	/*Typography*/
	--fs--2: clamp(0.5628rem, 0.7248rem + -0.135vw, 0.6944rem);
	--fs--1: clamp(0.7502rem, 0.8525rem + -0.0853vw, 0.8333rem);
	--fs-0: clamp(1rem, 1rem + 0vw, 1rem);
	--fs-1: clamp(1.2rem, 1.1693rem + 0.1364vw, 1.333rem);
	--fs-2: clamp(1.44rem, 1.3623rem + 0.3455vw, 1.7769rem);
	--fs-3: clamp(1.728rem, 1.5802rem + 0.657vw, 2.3686rem);
	--fs-4: clamp(2.0736rem, 1.8235rem + 1.1115vw, 3.1573rem);
	--fs-5: clamp(2.4883rem, 2.0913rem + 1.7645vw, 4.2087rem);

	/* Shadows */
	--shadow-s: 0 1px 2px #00000030, 0 2px 4px #00000015;
	--shadow-m: 0 2px 4px #00000030, 0 4px 8px #00000015;
	--shadow-l: 0 4px 6px #00000030, 0 6px 10px #00000015;
}

@theme inline {
	/* Shadcn variables */
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	/* Custom variables */
	--color-background-muted: var(--background-dark);
	--color-background-light: var(--background-light);
	--color-foreground-muted: var(foreground-dark);
	--color-foreground-light: var(foreground-light);
	--color-primary-muted: var(--muted-green);
	--color-primary: var(--green);
	--color-primary-light: var(--light-green);
	--color-secondary-muted: var(--muted-blue);
	--color-secondary: var(--blue);
	--color-secondary-light: var(--light-blue);
	--color-tertiary: var(--light-red);
	--color-footer-bg: var(--dark-gray);
	--color-footer-bg-light: var(--gray);

	--text-normal: var(--fs-0);
	--text-h1: var(--fs-5);
	--text-h2: var(--fs-4);
	--text-h3: var(--fs-3);
	--text-h4: var(--fs-2);
	--text-h5: var(--fs-1);

	--shadow-s: var(--shadow-s);
	--shadow-md: var(--shadow-m);
	--shadow-lg: var(--shadow-l);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background-light text-foreground;
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	}

	h2 {
		font-size: var(--fs-4);
		max-inline-size: 50ch;
	}

	h3 {
		font-size: var(--fs-3);
	}

	h4 {
		font-size: var(--fs-2);
	}

	p,
	li,
	h5,
	td,
	th,
	address {
		max-inline-size: 65ch;
		font-size: var(--fs-0);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 115%;
		letter-spacing: -2%;
	}
}
